/* This is the list of all colors used in app.
Do not add color directly to any other .scss file.
Please maintain alphabetical order. */
$aliceBlue: #f5f8f9;
$black: #000;
$blue1: #00b9f5;
$blue2: #4683ea;
$blue3: #33b5e5;
$blue4: #012b72;
$blue5: #002e6e;
$blue6: #e9f3f5;
$blue7: #3498db;
$freeSpeechRed: #d83d3d;
$green: #0ea561;
$grey: #9b9b9b;
$grey1: #dadada;
$grey2: #4a4a4a;
$grey3: #ccc;
$grey4: #fefefe;
$grey5: #888;
$grey6: #aaa;
$grey7: #808080;
$grey8: #b9b0b0;
$grey9: #494949;
$grey10: #737373;
$grey11: #d6d3d3;
$grey12: #b4b4b4;
$grey13: #e9e9e9;
$grey14: #e6e6e6;
$grey15: #ededed;
$grey16: #9c9c9c;
$grey17: #ebebeb;
$grey18: #c8c8c8;
$grey19: #eee;
$grey20: #f3f3f3;
$grey21: #ddd;
$Gray46: #757575;
$purple: #12b912;
$red: #d0021b;
$white: #fff;